<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Window</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
</head>
<body>
    
    <form id="login">
            <input type="text" id="direncion" placeholder="direcion">
        <input type="text" id="port" placeholder="port">
        <input type="button" value="asdasd">
        
    </form>
    <script type="text/javascript">
        $(document).ready(function(){
          $('#login').submit(function(){
            var dataForm = {
              usuario:$('#direcion').val(),
              contra:$('#port').val()
            }
            console.log(dataForm)
            
    
          });
         
        })
        </script>
</body>
</html>